<link rel="apple-touch-icon" sizes="180x180" href="/styles/user/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/styles/user/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/styles/user/favicon-16x16.png">
<link rel="manifest" href="/styles/user/site.webmanifest">