
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Nothing here</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    <img style="width: 100vw;" src="https://imageproxyb.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/b11f28310c130afc7d5f1c19082ef5d5bd3cf7b06aad2de965c6c2deec30993d_1.jpg"> <img/>
        <div class="content centered">
            <h1>There is nothing here</h1>
            <p>If you got here from a link, this note is probably not made public</p>
            <a href="/">Go back home</a>
        </div>
    </body>
</html>
